html {
  //this defines what 1rem is
  font-size: 55.5%; //1 rem = 10px; 10px/16px = 55.5%
  font-family: $font-primary;
}

/*body {
  font-size: 1.8rem;
  background-image: url(../design/mobile-design.jpg);
  background-size: 375px;
  background-repeat: no-repeat;
  opacity: 0.7;
}*/
