.header {
  background-color: $color-primary;
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 4.5rem;
  color: $color-white;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.8rem;

  &__content {
    padding: 6rem 1rem;
    text-align: center;
  }

  &__arrow {
    margin-top: 6rem;
  }
}

.s-features {
  display: grid;
}

.container {
  &--text {
    padding: 4rem;
  }

  &--img {
  }

  &--text-img {
  }
}
