.header {
  background-color: $color-primary;
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include respond(phone) {
    background-image: url(../images/desktop/image-header.jpg);
  }

  @include respond(tablet) {
    height: 80vh;
  }

  &__content {
    font-size: 4.5rem;
    padding: 6rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    color: $color-white;
    font-family: $font-secondary;
  }

  &__arrow {
    margin: 6.5rem 0;
  }
}

.s-features {
  display: grid;

  @include respond(phone-big) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, mix-content) 1fr;
    grid-template-areas: "transform egg";
  }
}

.container {
  &__heading {
    font-family: $font-secondary;
    font-size: 3.5rem;

    @include respond(tablet) {
      font-size: 3.5rem;
      text-align: left;
    }

    @include respond(desktop) {
      font-size: 5rem;
    }

    &--graphic {
      color: $color-graphic-text;
    }

    &--photo {
      color: $color-photo-text;
    }

    &--small {
      font-size: 3rem;

      @include respond(tablet) {
        text-align: center;
        font-size: 3.5rem;
      }
    }
  }

  &__content {
    font-size: 2rem;
    padding: 2.5rem 1.5rem;
    color: $color-grey-light;
    line-height: 3rem;
    font-weight: 500;

    @include respond(phone) {
      padding: 3rem 0;
    }

    @include respond(tablet) {
      font-size: 2.2rem;
      padding: 1.5rem 0;
      line-height: 4rem;
    }

    &--graphic {
      color: $color-graphic-text;
    }

    &--photo {
      color: $color-photo-text;
    }

    &--small {
      font-size: 1.5rem;

      @include respond(phone) {
        font-size: 2rem;
        padding: 2.5rem 10rem;
      }

      @include respond(tablet) {
        font-size: 2.8rem;
      }
    }
  }

  &__btn {
    margin: 3rem 0;
  }

  &--text {
    padding: 7rem 3rem;
    text-align: center;

    @include respond(tablet) {
      padding: 7rem;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    @include respond(desktop) {
      padding: 18rem;
    }
  }

  &--text-img {
    text-align: center;
    padding: 48rem 2rem 4rem 2rem;

    @include respond(tablet) {
      padding-top: 60rem;
    }

    @include respond(desktop) {
      padding-top: 50rem;
      padding-bottom: 10rem;
    }

    &--1 {
      background-image: url(../images/mobile/image-graphic-design.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      @include respond(phone) {
        background-image: url(../images/desktop/image-graphic-design.jpg);
        background-position: center;
      }
    }

    &--2 {
      background-image: url(../images/mobile/image-photography.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      @include respond(phone) {
        background-image: url(../images/desktop/image-photography.jpg);
        background-position: center;
      }
    }
  }

  &--img {
    height: 400px;
    overflow: hidden;
  }

  &--1 {
    background-image: url(../images/mobile/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond(phone-big) {
      grid-area: egg;
      background-image: url(../images/desktop/image-transform.jpg);
      height: 100%;
      width: 100%;
    }
  }

  &--2 {
    @include respond(tablet) {
      grid-area: transform;
    }
  }

  &--3 {
    background-image: url(../images/mobile/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond(phone-big) {
      background-image: url(../images/desktop/image-stand-out.jpg);
      height: 100%;
      width: 100%;
    }
  }
}

.s-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 2rem;

  @include respond(phone) {
    padding: 8rem 4rem;
  }

  @include respond(desktop) {
    padding: 20rem 0;
  }

  &__grid {
    @include respond(desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
    }
  }

  &__heading {
    font-size: 2rem;
    font-family: $font-secondary;
    color: $color-grey-light;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    @include respond(tablet) {
      font-size: 3rem;
    }

    @include respond(tablet) {
      margin-bottom: 10rem;
    }
  }

  &__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 3.5rem 2rem;

    @include respond(phone) {
      width: 500px;
    }

    @include respond(tablet) {
      padding: 5rem 2rem;
    }

    @include respond(desktop) {
      width: 400px;
    }
  }
}

.testimonial {
  &__img {
    width: 7rem;
    height: auto;
    border-radius: 50%;

    padding: 1rem 0;

    @include respond(phone) {
      width: 9rem;
    }

    @include respond(tablet) {
      width: 11rem;
    }
  }

  &__content {
    font-size: 1.7rem;
    padding: 1.5rem 0;
    color: $color-grey-dark;
    line-height: 3rem;
    font-weight: 500;

    @include respond(tablet) {
      font-size: 2.2rem;
      line-height: 4rem;
    }
  }

  &__name {
    font-family: $font-secondary;

    padding: 1rem 0;

    @include respond(tablet) {
      font-size: 2.5rem;
    }
  }

  &__occup {
    font-size: 1.3rem;
    color: $color-grey-light;

    @include respond(tablet) {
      font-size: 2rem;
    }
  }
}

.s-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &__img {
    @include respond(desktop) {
      width: 100%;
      height: 100%;
    }
  }

  @include respond(phone) {
    justify-items: center;
  }

  @include respond(phone-big) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
