.header {
  background-color: $color-primary;
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 4.5rem;
  color: $color-white;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0.8rem;

  &__content {
    padding: 6rem 1rem;
    text-align: center;
  }

  &__arrow {
    margin: 6.5rem 0;
  }
}

.s-features {
  display: grid;
}

.container {
  &__heading {
    font-family: $font-secondary;
    font-size: 3.5rem;

    &--graphic {
      color: $color-graphic-text;
    }

    &--photo {
      color: $color-photo-text;
    }

    &--small {
      font-size: 3rem;
    }
  }

  &__content {
    font-size: 2rem;
    padding: 2.5rem 1.5rem;
    color: $color-grey-light;
    line-height: 3rem;
    font-weight: 500;

    &--graphic {
      color: $color-graphic-text;
    }

    &--photo {
      color: $color-photo-text;
    }

    &--small {
      font-size: 1.5rem;
    }
  }

  &__btn {
    margin: 3rem 0;
  }

  &--text {
    padding: 7rem 3rem;
    text-align: center;
  }

  &--text-img {
    text-align: center;
    padding: 45rem 2rem 4rem 2rem;
    &--1 {
      background-image: url(../images/mobile/image-graphic-design.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--2 {
      background-image: url(../images/mobile/image-photography.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.s-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 2rem;
  &__heading {
    font-size: 2rem;
    font-family: $font-secondary;
    color: $color-grey-light;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  &__grid {
  }

  &__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 3.5rem 2rem;
  }
}

.testimonial {
  &__img {
    width: 7rem;
    height: auto;
    border-radius: 50%;

    padding: 1rem 0;
  }

  &__content {
    font-size: 1.7rem;
    padding: 1.5rem 0;
    color: $color-grey-dark;
    line-height: 3rem;
    font-weight: 500;
  }

  &__name {
    font-family: $font-secondary;

    padding: 1rem 0;
  }

  &__occup {
    font-size: 1.3rem;
    color: $color-grey-light;
  }
}
