.nav {
  padding: 3.5rem 2.5rem;

  display: flex;
  justify-content: space-between;

  position: relative;

  &__logo {
    align-self: flex-start;
  }

  &__ham-button {
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    border-style: none;
    width: max-content;
    height: max-content;

    @include respond(tablet) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 85%;
    padding: 3rem;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 3rem;

    background-color: $color-white;

    @include respond(tablet) {
      position: static;
      flex-direction: row;
      transform: translateX(0);
      background-color: transparent;
      padding: 0;
      text-align: right;
      justify-content: flex-end;
    }

    &::after {
      content: "";
      position: absolute;
      top: -30px;
      right: 0;

      width: 0;
      height: 0;
      width: 0;
      height: 0;
      border-bottom: 100px solid $color-white;
      border-left: 100px solid transparent;

      @include respond(tablet) {
        display: none;
      }
    }
  }
}

.menu {
  &__box {
    padding: 3rem 0;

    @include respond(tablet) {
      display: flex;
      padding: 0 3rem 0 0;
    }
  }

  &__item {
    padding: 0.5rem;
  }

  &__link {
    &,
    &:link,
    &:visited {
      background-color: transparent;
      color: $color-grey-light;
      text-decoration: none;
      text-decoration-color: $color-secondary;

      display: inline-block;
      font-size: 2.5rem;
      font-family: $font-primary;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;

      padding: 1rem;

      background-image: linear-gradient(
        120deg,
        $color-primary-v 0%,
        $color-primary-v 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;

      @include respond(tablet) {
        font-size: 2rem;
        color: $color-white;
      }
    }

    &:hover,
    &:active {
      background-size: 100% 88%;
    }
  }
}

.hidden {
  display: none;

  @include respond(tablet) {
    display: flex;
  }
}

.fade-in-menu {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
