.nav {
  padding: 3.5rem 2.5rem;

  display: flex;
  justify-content: space-between;

  &__ham-button {
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    border-style: none;
    width: max-content;
    height: max-content;
  }
}
