// Colors

$color-primary: hsl(7, 99%, 70%);
$color-secondary: hsl(51, 100%, 49%);
$color-graphic-text: hsl(167, 40%, 24%);
$color-photo-text: hsl(198, 62%, 26%);
$color-footer-text: hsl(168, 34%, 41%);
$color-footer: #90d3c6;

$color-grey-very-dark: hsl(212, 27%, 19%);
$color-grey-dark: hsl(213, 9%, 39%);
$color-grey-light: hsl(232, 10%, 55%);
$color-grey-very-light: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);
$color-black: #000;

// Fonts

$font-primary: "Barlow", sans-serif;
$font-secondary: "Fraunces", serif;
